linux32
linux64
package
public
steamcmd.sh
steam.sh
tf2/bin
tf2/hl2
tf2/platform
srcds*
tf2/steamapps
tf2/*.txt
*.vpk
*.so
tf2/tf/maps
tf2/tf/resource
*.cache
tf2/tf/downloadlists/
tf2/tf/stats.txt
tf2/tf/cfg/sourcemod/
tf2/tf/addons
*.sig
tf2/tf/scripts/items/items_game.txt
tf2/tf/custom/pop/scripts/population/*.pop
tf2/tf/replay
csgo/bin
csgo/steamapps
csgo/*.txt
csgo/platform
csgo/game/bin
csgo/game/core
csgo/game/csgo/bin
csgo/game/csgo/panorama/videos/
csgo/game/csgo/addons

# Ignore the map files, which are large; but hang onto the Co-op Strike
# mission from Shattered Web, aka coop_kasbah.
csgo/csgo/maps/*
!csgo/csgo/maps/graphs
csgo/csgo/maps/graphs/*
!csgo/csgo/maps/graphs/*coop_kasbah*
!csgo/csgo/maps/*coop_kasbah*
csgo/csgo/resource/*
!csgo/csgo/resource/overviews
csgo/csgo/resource/overviews/*
!csgo/csgo/resource/overviews/*coop_kasbah*

*.dll
csgo/csgo/sound/music
csgo/thirdpartylegalnotices.doc
csgo/csgo/materials
csgo/csgo/panorama/
*.log

# Satisfactory has a lot of uninteresting files.
*.sym
*.debug
*.modules
satisfactory/Engine/Binaries
*.pak
*.uasset
*.png
*.bmp
*.ico
*.ttf
CrashReportClient.ini
