linux32
linux64
package
public
steamcmd.sh
steam.sh
tf2/bin
tf2/hl2
tf2/platform
srcds*
tf2/steamapps
tf2/*.txt
*.vpk
*.so
tf2/tf/maps
tf2/tf/resource
*.cache
tf2/tf/downloadlists/
tf2/tf/stats.txt
tf2/tf/cfg/sourcemod/
tf2/tf/addons
*.sig
tf2/tf/scripts/items/items_game.txt
tf2/tf/custom/pop/scripts/population/*.pop
tf2/tf/replay
csgo/bin
csgo/steamapps
csgo/*.txt
csgo/platform
csgo/csgo/maps
csgo/csgo/resource
*.dll
csgo/csgo/sound/music
csgo/thirdpartylegalnotices.doc
