replays
steamcmd_linux/csgo/csgo/backup_round*
steamcmd_linux/csgo/game/csgo/backup_round*
steamcmd_linux/tf2/tf/scripts/protodefs/proto_defs.vpd
steamcmd_linux/csgo/csgo/cfg/oldguardian.cfg
steamcmd_linux/csgo/csgo/next_throw.cfg
home/**/*.sav
steamcmd_linux/csgo/csgo/steam.inf
steamcmd_linux/csgo/game/csgo/steam.inf
steamcmd_linux/tf2/tf/steam.inf
steamcmd_linux/cs2
steamcmd_linux/siteserverui/
